<mat-card>
  <h1>{{Lable}}</h1>
  <form #bookForm = "ngForm">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput type="text"
        [(ngModel)] = "title"
        name = "title"
        required>

      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Author</mat-label>
        <input matInput
        [(ngModel)] = "author"
        name = "author"
        required>
      </mat-form-field>
    </div>

    <div>
      <button mat-raised-button (click) = "updateParent()"   color="primary">{{buttonLable}}</button>
      <button mat-raised-button class="close" (click) = "tellParentToClose()"   >Cancel</button>
    </div>
  </form>
</mat-card>
